<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C969___PA.Properties.Settings.U07xPrConnectionString"
            connectionString="server=wgudb.ucertify.com;user id=U07xPr;password=53689162285;persistsecurityinfo=True;database=U07xPr;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>